body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 0;
    font-size: 1.25rem;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    margin-right: 15px;
}

.navbar-nav .dropdown-menu {
    background-color: #343a40;
    color: white;
}

.dropdown-item:hover {
    background-color: #495057;
}

.container h2 {
    border-bottom: 2px solid #343a40;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #007bff;
}

h3 {
    color: #495057;
    margin-top: 20px;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

p, ul {
    line-height: 1.6;
}

.btn-outline-danger {
    margin-left: 5px;
}

.header-container {
    text-align: center; /* Centra el contenido horizontalmente */
    padding: 20px; /* Espaciado interno del contenedor */
    background-color: #f8f9fa; /* Color de fondo del encabezado */
    border-bottom: 2px solid #ddd; /* Línea en la parte inferior del encabezado */
}

.header-container img {
    max-width: 100%; /* Hace que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Asegura que la imagen se comporte como un bloque para centrarla */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.header-title {
    margin-top: 15px; /* Espacio superior para separar el título de la imagen */
    font-size: 2rem; /* Tamaño de la fuente del título */
    color: #343a40; /* Color del texto del título */
    font-weight: bold; /* Grosor del texto del título */
}